* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  user-select: none;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider-container {
  background: red;
  min-height: 100px;
  width: 100%;
  max-width: 32rem;
}

.slider-container ul {
  list-style-type: none;
  display: flex;
  /* border: 1pt solid black; */
}
.slider-container ul li {
  border: 1pt solid black;
  display: flex;
  max-width: 100%;
}
.slider-container img {
  width: 100px;
  height: 100px;
}
