* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
ul {
  list-style-type: none;
}
.slider-container {
  background: red;

  width: 100%;
  max-width: 32rem;
}
.slider-container ul {
  display: flex;
  overflow: hidden;

}

.slider-container ul li {
  border: 1px solid black;
  display: flex;
  min-width: 100%;
  height: 16rem;
}

.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
